body {
    --color-light-gray1: rgb(142, 142, 147);
    --color-light-gray2: rgb(174, 174, 178);
    --color-light-gray3: rgb(199, 199, 204);
    --color-light-gray4: rgb(209, 209, 214);
    --color-light-gray5: rgb(229, 229, 234);
    --color-light-gray6: rgb(242, 242, 247);
    --color-light-red: rgb(255, 59, 48);
    --color-light-orange: rgb(255, 149, 0);
    --color-light-yellow: rgb(255, 204, 0);
    --color-light-green: rgb(52, 199, 89);
    --color-light-mint: rgb(0, 199, 190);
    --color-light-teal: rgb(48, 176, 199);
    --color-light-cyan: rgb(50, 173, 230);
    --color-light-blue: rgb(0, 122, 255);
    --color-light-indigo: rgb(88, 86, 214);
    --color-light-purple: rgb(175, 82, 222);
    --color-light-pink: rgb(255, 45, 85);
    --color-light-brown: rgb(162, 132, 94);
}
.content {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    background: rgb(28, 28, 30);
    color: white;
}
* {
    user-select: none;
    font-family: "Montserrat", sans-serif;
}
.content .helloMessage {
    padding: 10px;
    padding-top: 0px;
    font-family: "Montserrat", sans-serif;
}
.content .helloMessage .hello {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.content .helloMessage .hello span {
    color: var(--color-light-cyan)
}
.content .helloMessage .logo {
    background: url(logo_ndtp.png) no-repeat;
    background-size: 50%;
    background-position: top center ;
    width: calc(100%);
    height: calc((100vw - 40px) / 2048 * (635 / 2));
}
.content .calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    aspect-ratio: 1/1;
    grid-template-rows: 1fr 1fr;
    height: calc(((100vw - 20px) - 50px / 7) / 4);
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}
.content .calendar .item {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(44, 44, 46);
    border-radius: 10px;
}
.content .calendar .item.selected {
    background: white;
    color: black;
}
.content .calendar .item .weekday {
    font-weight: 700;
}
.content .calendar .item.colored .weekday {
    color: var(--color-light-red)
}
.content .eventsBox .item {
    margin: 10px;
    display: block;
    background: rgb(44, 44, 46);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}
.content .eventsBox .item .name {
    font-size: 18px;
    font-weight: 600;
}
.content .eventsBox .item .time {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}
.content .eventsBox .item .end_time {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.75;
    margin-top: 5px;
    text-align: right;
}
.content .eventsBox .item .description {
    font-size: 14px;
    opacity: 0.5;
    margin-top: 5px;
}
.copyright {
    display: block;
    width: calc(100% - 20px);
    text-align: center;
    opacity: 0.25;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 40px;
}
.copyright a {
    color: white;
    
}
